@media(min-width: 540px){
    h1{
        color: rgb(56, 51, 61);
        font-size: 80px;
        font-family:fantasy;
    }
    h2{
        color: rgb(56, 51, 61);;
        font-size: 35px;
        font-family:Comic Sans MS;
    }
    h3{
        color: rgb(56, 51, 61);;
        font-size: 15px;
        font-family:verdana;
    }
    h4{
        color: rgb(56, 51, 61);
        font-size: 15px;
        font-family:verdana;
    }
    table{
        border-collapse: collapse;
        border: 1px solid black;
    }
    th{
        border:solid #1d1a5e; 
        color: rgb(56, 51, 61);
        font-family:verdana;
    }
    td{
        border:solid #1d1a5e; 
        color: rgb(56, 51, 61);
        font-family:verdana;
    }
    p{
        color: rgb(56, 51, 61);;
        text-align: center;
    
    }
    div{
        background-image: url('https://imgur.dcard.tw/QxwaBfoh.jpg');
        text-align: center;
    }
}
@media(min-width: 768px) {
    h1{
        color: rgb(56, 51, 61);
        font-size: 80px;
        font-family:fantasy;
    }
    h2{
        color: rgb(56, 51, 61);;
        font-size: 35px;
        font-family:Comic Sans MS;
    }
    h3{
        color: rgb(56, 51, 61);;
        font-size: 15px;
        font-family:verdana;
    }
    h4{
        color: rgb(56, 51, 61);
        font-size: 15px;
        font-family:verdana;
    }
    table{
        border-collapse: collapse;
        border: 1px solid black;
    }
    th{
        border:solid #02004b; 
        color: rgb(56, 51, 61);
        font-family:verdana;
    }
    td{
        border:solid #02004b; 
        color: rgb(56, 51, 61);
        font-family:verdana;
    }
    p{
        color: rgb(56, 51, 61);;
        text-align: center;
    
    }
    div{
        background-image: url('https://pic.pimg.tw/higold501/1510786137-2900543935_n.jpg');
        text-align: center;
    }
}
@media(min-width: 920px){
    h1{
        color: rgb(56, 51, 61);
        font-size: 80px;
        font-family:fantasy;
    }
    h2{
        color: rgb(56, 51, 61);;
        font-size: 35px;
        font-family:Comic Sans MS;
    }
    h3{
        color: rgb(56, 51, 61);;
        font-size: 15px;
        font-family:verdana;
    }
    h4{
        color: rgb(56, 51, 61);
        font-size: 15px;
        font-family:verdana;
    }
    table{
        border-collapse: collapse;
        border: 1px solid black;
    }
    th{
        border:solid #02004b; 
        color: rgb(56, 51, 61);
        font-family:verdana;
    }
    td{
        border:solid #02004b; 
        color: rgb(56, 51, 61);
        font-family:verdana;
    }
    p{
        color: rgb(56, 51, 61);;
        text-align: center;
    
    }
    div{
        background-image: url('https://megapx.dcard.tw/v1/images/9a4c76ea-94fa-4fc1-b2bf-ab4013a59857/encode/640.webp');
        text-align: center;
    }
}
@media (max-width: 540px){
h1{
    color: rgb(56, 51, 61);
    font-size: 80px;
    font-family:fantasy;
}
h2{
    color: rgb(56, 51, 61);;
    font-size: 35px;
    font-family:Comic Sans MS;
}
h3{
    color: rgb(56, 51, 61);;
    font-size: 15px;
    font-family:verdana;
}
h4{
    color: rgb(56, 51, 61);
    font-size: 15px;
    font-family:verdana;
}
table{
    border-collapse: collapse;
    border: 1px solid black;
}
th{
    border:solid #1d1a5e; 
    color: rgb(56, 51, 61);
    font-family:verdana;
}
td{
    border:solid #1d1a5e; 
    color: rgb(56, 51, 61);
    font-family:verdana;
}
p{
    color: rgb(56, 51, 61);;
    text-align: center;

}
div{
    background-image: url('https://imgur.dcard.tw/QxwaBfoh.jpg');
    text-align: center;
}
}